sudo: false
language: python
python:
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"
    - "nightly"
install: pip install tox-travis python-coveralls
script: tox -- -v --cov xlsx2html --cov-report term-missing
after_success:
  - coveralls --data_file ./tests/.coverage