-e .
# Build
bump2version==1.0.1
wheel>=0.36.2
twine>=1.15.0
setuptools>=42
# Test
tox==4.8.0
virtualenv-pyenv==0.3.0
pytest==7.4.4
pytest-flake8==1.1.0
pytest-cov==4.1.0

pytest-splinter==3.3.2
splinter>=0.21,<0.22
#chromedriver-binary-auto
diffimg==0.2.3
#mypy>=0.901
pytest-image-diff>=0.0.14
# Docs
recommonmark
Sphinx
alabaster
# QA
pre-commit==2.13.0
