-e .
# Build
bumpversion==0.6.0
wheel>=0.36.2
twine>=1.15.0
setuptools>=42
# Test
tox==3.23.1
tox-pyenv==1.1.0
pytest==6.2.4
pytest-flake8==1.0.7
pytest-cov==2.12.1
pytest-splinter==3.3.1
pytest-benchmark==3.4.1
chromedriver-binary>=95
#mypy>=0.901
pytest-image-diff>=0.0.2
# Docs
Sphinx==4.0.2
sphinx_rtd_theme==0.5.2
recommonmark==0.7.1
m2r2==0.2.7
sphinx-autodoc-typehints==1.12.0
sphinx-paramlinks==0.5.1
# QA
pre-commit==2.13.0
